package components

import "strconv"

templ Index(counter int) {
	<html>
		<head>
			<meta charset="UTF-8"/>
			<title>HTMX-GO-TEMPL</title>
			<script src="https://cdn.tailwindcss.com"></script>
			<script src="/static/js/htmx.min.js"></script>
		</head>
		<body>
			<div class="flex flex-col justify-center items-center h-screen">
				<button class="border rounded p-2" hx-post="/add" hx-target="body">Add</button>
				<p>{ strconv.Itoa(counter) }</p>
			</div>
		</body>
	</html>
}

